<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
        
        <context:annotation-config/>

    <!-- bean definitions here -->
    
    
<!--     <bean class="com.ninfinity.Car" name="Car1" init-method="init" destroy-method="destroy">
    	<property name="company" value="Audi"/>
    	<property name="price" value="12000000"/>
    </bean>
 -->
 
 
<!-- 	<bean class="com.ninfinity.Computer" name="comp1">
    	<property name="company" value="Asus"/>
    	<property name="price" value="120000"/>
    </bean>
 -->	
 
 	<bean class="com.ninfinity.Mobile" name="mob1">
    	<property name="company" value="iPhone"/>
    	<property name="price" value="120000"/>
    </bean>
 
 
</beans>